.person {
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 15px auto 0;
    border: 1px solid #5d5d5d;
}

.nameInput {
    width: 40%;
    height: 20px;
    border: 1px solid #5d5d5d;
    padding: 0 5px;
}

.closeIcon {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #5d5d5d;
    color: #fff;
}

@media (min-width: 500px) {
  .person {
    width: 40%;
  }
}